body {
    background: pink;
}

.btn {
 margin : 45vh 43vw;
    text-align: center;
    width: 88px;
}

button {
    background-color: purple;
    border: 2.5px solid #f8961e;
    color: white;
    padding: 10px 62px;
    text-decoration: none;
    font-size: 15px;
   
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    -webkit-box-shadow: 0px 2px 8px 4px rgba(31, 255, 9, 0.6);
    -moz-box-shadow: 0px 2px 8px 4px rgba(31, 255, 9, 0.6);
    box-shadow: 0px 2px 8px 4px rgba(200, 255, 9, 0.6);
    border: 2px solid #ccff33;
    font-size: 17px;
    border-radius: 10px;
    color: #fff1e6;

}